#contact-info{
	font-size: .8em;
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
}
.job{
	background-color: #e9e5dc;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 4px;
	margin-top: 4px;
}
ul.smaller-text{
	font-size: .8em;
}
section#contact-info {
	padding: 30px;
	background-color: white;
}
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
#child-example article h2 {
	font-size: .2em;
}
#child-example div h2{
	background-color: #fbb8d9;
}
ol > li:nth-of-type(odd){
  background-color: #e9e5dc;
  border-style: dotted;
}