header {
    text-align: center;
    background: url("http://i.imgur.com/kVO1mgr.jpg");
    background-size: cover;
    color: white;
}
a {
    color: white;
}
h1 {
    font-size: 30px;
}
img {
    margin: 10px 0px 0px 0px;
    border: 2px solid white;
    border-radius: 100%;
}
ul {
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}
button {
    color: #00ffff;
    border: 2px solid green;
}
.table{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#gallery{
    padding: 5px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-style: solid;
    text-transform: capitalize;
}
#date{
    color: black;
    width: 0 auto;
    text-align: center;
}
@media (max-width: 500px) {
    h1 {
        font-size: 36px;
        padding: 5px;
    }
    li {
        padding: 5px;
        display: block;
    }
}